<!-- script!= javascript -->
<ul id="flash"/>
<div class="all">
  <h2> <%= title %> </h2>
  <header>
    Posts for SATIO Blog
  </header>
  <div class="hide">
    <div class="load">
      <img src="/img/animation.gif"/>
    </div>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav pull-right">
          <li><a href="/admin/post/new">Add Post</a></li>
        </ul>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Preview</th>
        <th>Body</th>
        <th>RssText</th>
        <th>Slug</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>…</td>
        <td>…</td>
        <td>…</td>
        <td>…</td>
        <td>…</td>
        <td>
          <button class="btn">Edit</button>
          <button class="btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>