 	    <div class="row-fluid">
        <div>
  	        <div class="login-form">
  	            <h2><%= title %></h2>
  	            <form action="/admin/session" method="post">
  	                <fieldset>
                        <div class="control-group">
    	                    <div class="clearfix">
    	                        <input type="text" name="user[email]" placeholder="Username">
    	                    </div>
    	                    <div class="clearfix">
    	                        <input type="password" name="user[password]" placeholder="Password">
    	                    </div>
                        </div>
  	                    <button class="btn-primary" type="submit">Sign in</button>
  	                </fieldset>
  	            </form>
  	        </div>
        </div>
	    </div>