<div>
  <div class="left">
    <p>
      <form action="/admon/post/create" method="post" id="create">
        <fieldset>
          <p>
            <div class="label">
              label Title
            </div>
            div.field
              input(type = 'text', name= 'post[title]')
          </p>
          <p>
            div.label
              label Body
            div.field
              textarea(name = 'post[body]')
          </p>
          <div>
            <button class="btn-primary" type="submit" value="Save!">Save!</button>
          </div>
        </fieldset>
      </form>
    </p>
  </div>
</div>